<div class="">
    <form [formGroup]="applicantSearchForm" novalidate (ngSubmit)="applicantSearchFormSubmit()">
        <div class="row mb-3">
            <label for="inputFaculty" class="col-sm-2 col-form-label">Факультет</label>
            <div class="col-sm-10">
                <select class="form-select" id="inputFaculty" formControlName="faculty">
                    <option selected></option>
                    <option *ngFor="let facultyData of facultyList">
                        {{ facultyData.title }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputDepartment" class="col-sm-2 col-form-label">Кафедра</label>
            <div class="col-sm-10">
                <select class="form-select" id="inputDepartment" formControlName="department">
                    <option selected></option>
                    <option *ngFor="let departmentData of departmentList">
                        {{ departmentData.title }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputStudyGroup" class="col-sm-2 col-form-label">Группа</label>
            <div class="col-sm-10">
                <select class="form-select" id="inputStudyGroup" formControlName="studyGroup">
                    <option selected></option>
                    <option *ngFor="let studyGroupData of studyGroupList">
                        {{ studyGroupData.title }}
                    </option>
                </select>
            </div>
        </div>
        <div class="mb-3 text-center">
            <button [disabled]="applicantSearchForm.invalid" class="btn btn-info me-2">
                Найти
            </button>
            <button type="button" class="btn btn-warning" (click)="applicantSearchFormReset()">
                Очистить
            </button>
        </div>
    </form>
</div>
<div class="">
    <ng-template [ngIf]="applicantList.length !== 0" [ngIfElse]="applicantListEmptyBlock">
        <div class="table-responsive" [ngStyle]="{ 'width': '90vw' }">
            <form [formGroup]="updateApplicantForm" novalidate (ngSubmit)="updateApplicantFormSubmit()">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Оконченные учебные заведения</th>
                            <th scope="col">Медалист</th>
                            <th scope="col">Зачислен</th>
                            <th scope="col">Факультет</th>
                            <th scope="col">Кафедра</th>
                            <th scope="col">Группа</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="applicants">
                        <tr *ngFor="let applicantData of applicantList; let i = index" [formGroupName]="i">
                            <ng-container formGroupName="fields">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>
                                    <input type="text" class="form-control" [id]="'inputUpdateFullName_' + i" formControlName="fullName" 
                                        (change)="updateApplicantFormControlChange(i, updateApplicantForm.controls.applicants.at(i))"
                                    >
                                </td>
                                <td>
                                    <input type="text" class="form-control" [id]="'inputUpdateGraduatedInstitutions_' + i" formControlName="graduatedInstitutions" 
                                        (change)="updateApplicantFormControlChange(i, updateApplicantForm.controls.applicants.at(i))"
                                    >
                                </td>
                                <td class="fw-bold">
                                    <input type="checkbox" role="switch" class="form-check-input" [id]="'inputUpdateMedal_' + i" formControlName="medal" 
                                        (change)="updateApplicantFormControlChange(i, updateApplicantForm.controls.applicants.at(i))"
                                    >
                                </td>
                                <td class="fw-bold">
                                    <input type="checkbox" role="switch" class="form-check-input" [id]="'inputUpdateEnrolled_' + i" formControlName="enrolled" 
                                        (change)="updateApplicantFormControlChange(i, updateApplicantForm.controls.applicants.at(i))"
                                    >
                                </td>
                                <td>
                                    <select class="form-select" [id]="'inputUpdateFaculty_' + i" formControlName="faculty" 
                                        (change)="updateApplicantFormControlChange(i, updateApplicantForm.controls.applicants.at(i))"
                                    >
                                        <option *ngFor="let facultyData of facultyList" [selected]="facultyData.title === applicantData.faculty.title">
                                            {{ facultyData.title }}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select" [id]="'inputUpdateDepartment' + + i" formControlName="department" 
                                        (change)="updateApplicantFormControlChange(i, updateApplicantForm.controls.applicants.at(i))"
                                    >
                                        <option *ngFor="let departmentData of departmentList" [selected]="departmentData.title === applicantData.department.title">
                                            {{ departmentData.title }}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select" [id]="'inputUpdateStudyGroup_' + i" formControlName="studyGroup" 
                                        (change)="updateApplicantFormControlChange(i, updateApplicantForm.controls.applicants.at(i))"
                                    >
                                        <option *ngFor="let studyGroupData of studyGroupList" [selected]="studyGroupData.title === applicantData.study_group.title">
                                            {{ studyGroupData.title }}
                                        </option>
                                    </select>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <button [disabled]="updateApplicantForm.invalid" [hidden]="updateApplicantFormSubmitBtnIsHidden" class="btn btn-warning">
                        Сохранить изменения
                    </button>
                </div>
            </form>
        </div>
    </ng-template>
    <ng-template #applicantListEmptyBlock>
        <div class="fs-3 fw-semibold text-center">
            <span>Абитуриенты отсутствуют</span>
        </div>
    </ng-template>
</div>
<div class="w-100">
    <div ngbAccordion class="align-self-center my-3 w-50 mx-auto" id="uploadImageAccordion">
        <div ngbAccordionItem [collapsed]="createApplicantFormAccordionIsCollapsed" 
            (hide)="createApplicantFormAccordionIsCollapsed = true"
            (show)="createApplicantFormAccordionIsCollapsed = false"
        >
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Зарегистрировать абитуриента</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <form [formGroup]="createApplicantForm" novalidate (ngSubmit)="createApplicantFormSubmit()">
                            <div class="row mb-3">
                                <label for="inputFullName" class="col-sm-2 col-form-label">ФИО</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputFullName" formControlName="fullName">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputGraduatedInstitutions" class="col-sm-2 col-form-label">Оконченные учебные заведения</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputGraduatedInstitutions" formControlName="graduatedInstitutions">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputFaculty" class="col-sm-2 col-form-label">Факультет</label>
                                <div class="col-sm-10">
                                    <select class="form-select" id="inputFaculty" formControlName="faculty">
                                        <option *ngFor="let facultyData of facultyList; let isFirst = first" [selected]="isFirst">
                                            {{ facultyData.title }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDepartment" class="col-sm-2 col-form-label">Кафедра</label>
                                <div class="col-sm-10">
                                    <select class="form-select" id="inputDepartment" formControlName="department">
                                        <option *ngFor="let departmentData of departmentList; let isFirst = first" [selected]="isFirst">
                                            {{ departmentData.title }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputStudyGroup" class="col-sm-2 col-form-label">Группа</label>
                                <div class="col-sm-10">
                                    <select class="form-select" id="inputStudyGroup" formControlName="studyGroup">
                                        <option *ngFor="let studyGroupData of studyGroupList; let isFirst = first" [selected]="isFirst">
                                            {{ studyGroupData.title }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-check form-check-reverse form-switch row mb-3 text-start" [ngStyle]="{ 'paddingRight': '3.2em' }">
                                <label for="inputMedal" class="col-sm-10 form-check-label">Медалист</label>
                                <input type="checkbox" role="switch" class="col-sm-2 form-check-input" id="inputMedal" formControlName="medal">
                            </div>
                            <div class="my-3 text-center">
                                <button [disabled]="createApplicantForm.invalid" class="btn btn-primary">
                                    Зарегистрировать
                                </button>
                            </div>
                        </form>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>